/node_modules
/vendor
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
/storage/*.key
/storage/pail
/public/hot
/public/storage
/storage/logs/*
!.gitkeep
.DS_Store
Thumbs.db
README.md
DEPLOYMENT.md

