body {
    background: #F1F8F1; /* light green background like figma */
}

.card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
}

.btn {
    background: #8DBF86;  /* light soft green */
    padding: 8px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.btn:hover {
    background: #7BAC75;
}

.forum-card {
    padding: 30px;
    display: block;
    color: black;
    text-decoration: none;
}

.forum-card:hover {
    background: #E8F5E7;
}
